body{
    background-color:  black;
    background-image: linear-gradient(0deg, black, indigo);
    font-family: "Lucida Console", "Courier New", monospace;
}

/*header css area*/

.grid-header{
    color: white;
    display: grid;
    grid-gap: 70px;
    grid-template-columns: auto auto auto auto;
     justify-content: center;
     background-color: transparent;
}

@media (max-width: 378px){
    .grid-header{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        background-color: transparent;
    }


}
.grid-item{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.items{
    display: flex;
    justify-content: center;
    color: white;
    transform: translateY(0%);
    transition: none;
    opacity: 0;

}

.click-me {
    color: white;
    font-size: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;

}

@keyframes click {
    0%{opacity: 0;}
    50%{opacity:1;}
    100%{opacity:0;}
}

.pick-color{
    padding-top: 10px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    color: white;
    opacity: 0;
}

@keyframes pickColor {
  0%{color: white;}
  40%{color: rgb(228, 228, 110);}
  70%{color: rgb(108, 108, 233);}
  90%{color: lightblue;}
   100%{color: white;}
}

.color-header{
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    opacity: 0;

}


.grid-colors{
    height: 250px;
    width: 250px;
    color: transparent;
    border: .1rem solid black;
  
}


.grid-text:hover{
    color: black;
     font-size: 20px;
     font-weight: bolder;
     justify-content: center;
      text-align: center;
    
 }

.color-box1{
    background-color: blue;
}

.color-box2{
    background-color:  red;
}

.color-box3{
    background-color: green;
}

.color-box4{
    background-color: orange;
}

.color-box5{
    background-color: violet;
}

.color-box6{
    background-color: maroon;
}
.color-box7{
    background-color: yellow;
}

.color-box8{
    background-color: white;
}

/*section css area*/

.section-header{
 background-color: rgb(20, 20, 83);
 width:50%;
 border-radius: 20px;
 margin-bottom: 200px;
 transform: translateY(0%);
 opacity: 0;
}
.section-area{
    box-sizing: border-box;
    width:auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.label{
    color: white;
    font-size: 20px;
    padding-top: 10%;
}

.input-field{
    height: 30px;
    border-radius: 10px;
}

.btn{
    background-color: yellow;
    font-size:medium;
    border-radius: 5px;
}