body{
    background-color:  black;
    background-image: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 89, 130));
    font-family: Arial, Helvetica, sans-serif;
}

/*header css area*/

.grid-header{
    color: white;
    display: grid;
    grid-gap: 70px;
    grid-template-columns: auto auto auto auto;
     justify-content: center;
     background-color: transparent;
}


@media (max-width: 378px){
    .grid-header{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        background-color: transparent;
    }


}
.grid-item{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.items{
    display: flex;
    justify-content: center;
    color: white;
    transition: none;
    opacity: 0;

}

.click-me {
    color: white;
    font-size: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;

}

@keyframes click {
    0%{opacity: 0;}
    50%{opacity:1;}
    100%{opacity:0;}
}

.pick-color{
    padding-top: 20px;
    display: grid;
    justify-content: center;
    color: white;
    font-size: 30px;
    opacity: 0;
}

@keyframes pickColor {
  0%{color: white;}
  40%{color: rgb(228, 228, 110);}
  70%{color: rgb(108, 108, 233);}
  90%{color: rgb(173, 230, 185);}
   100%{color: rgb(204, 20, 20);}
}

.color-header{
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.grid-colors{
    height: 250px;
    width: 250px;
    color: transparent;
    border: .1rem solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    transform-style: preserve-3d; 
    transition: 1.0s;
}

.grid-colors:hover {
    transform: rotateY(180deg);
}

.grid-text{
    color: black;
     font-size: 20px;
     font-weight: bolder;
     transform: rotateY(180deg);
     position: absolute;
     backface-visibility: hidden;
 }

.color-box1{
    background-color: blue;
    border-radius: 20px;
}

.color-box2{
    background-color:  red;
    border-radius: 20px;
}

.color-box3{
    background-color: green;
    border-radius: 20px;
}

.color-box4{
    background-color: orange;
    border-radius: 20px;
}

.color-box5{
    background-color: violet;
    border-radius: 20px;
}

.color-box6{
    background-color: rgb(133, 82, 5);
    border-radius: 20px;
}
.color-box7{
    background-color: yellow;
    border-radius: 20px;
}

.color-box8{
    background-color: white;
    border-radius: 20px;
}

/* main section css area*/

.section-header{
 background-color: rgb(20, 20, 83);
 width:50%;
 border-radius: 20px;
 margin-bottom: 200px;
 transform: translateY(0%);
 opacity: 0;
}
.section-area{
    box-sizing: border-box;
    width:auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.label{
    color: white;
    font-size: 20px;
    padding-top: 10%;
}

.input-field{
    height: 30px;
    border-radius: 10px;
}

.btn{
    background-color: yellow;
    font-size:large;
    border-radius: 5px;
}

.result-container{
    height: auto;
    margin-top: 30px;
}

.birthyear-result{
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    padding-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}


/*rat year css*/


html{
    scroll-behavior: smooth;
}

a{
    color:rgb(228, 228, 110);
}

.rat-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
    opacity: 0;
}

#rat-result{
 color: white;
 padding-left: 10px;
 padding-right: 10px;
 line-height: 1.6;
}

/*ox year css*/

.ox-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
     opacity: 0;
}

#ox-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*tiger year css*/

.tiger-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#tiger-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*rabbit year css*/

.rabbit-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
     opacity: 0;
}

#rabbit-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*dragon year css*/

.dragon-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#dragon-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*snake year css*/

.snake-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#snake-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*horse year css*/

.horse-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#horse-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*sheep year css*/

.sheep-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#sheep-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*monkey year css*/

.monkey-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#monkey-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}
 
/*rooster year css*/

.rooster-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#rooster-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*dog year css*/
.dog-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#dog-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

/*pig year css*/
.pig-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(11, 11, 105);
    border-radius: 10px;
     margin-top: 5%;
}

#pig-result{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.6;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}


/*footer css*/

.footer{
    margin-top: 10%;
    margin-bottom: 30%;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    animation-name: box;
    animation-duration: 3s;
}



.box{
    color: white;
}